.section-main .contenedor_mayor{
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top:10%;
    padding: 10px;
    width: 80%;
}

.section-main .contenedor_mayor .contenedor_a,
.section-main .contenedor_mayor .contenedor_b{
    width: 50%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin:5px;
    padding:5px;
}

.section-main .contenedor_mayor .contenedor_a,
.section-main .contenedor_mayor .contenedor_b{
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2{
    color: #048C26;
    Font-family: Bodoni MT, Bodoni 72, Didot, Didot LT STD, Hoefler Text, Garamond, Times New Roman, serif;
    margin-bottom: 5%;
}

.section-main .contenedor_mayor .contenedor_a img{
    border-radius: 20px;
    height: 450px;
}

#formDatosReserva input[type=email],
#formDatosReserva input[type=password],
#formDatosReserva input[type=text],
#formDatosReserva select
{
    margin:5px;
    height:25px;
}

#formDatosReserva #txtCorreoDtsReserva,
#formDatosReserva #txtDireccionDtsReserva{
    width: 380px;
}

#formDatosReserva #slcMunicipioDtsReserva{
    width: 180px;
}

#formDatosReserva #btnSiguienteDtsReserva{
    margin:5px;
    background-color: #048C26;
    border-color: #048C26;
    color:#F0F0F0;
    border-radius: 10px;
    border-style: solid;
    border-width: thin;
}

#btnSiguienteDtsReserva a,
#btnSiguienteDtsReserva a:visited,
#btnSiguienteDtsReserva a:hover, 
#btnSiguienteDtsReserva a:focus, 
#btnSiguienteDtsReserva a:active
{
    text-decoration: none;
    color:#F0F0F0;
}

#formDatosReserva .botones_servicio button{
    border-radius: 5px;
    border-style: none;
}

.section-main .contenedor_mayor .contenedor_ma .svc_activo{
    background-color: #048C26;
    color:#F0F0F0;
}

.titular_incluye_servicio{
    text-align: center;
    justify-items: center;
}

#pServicio{
    display:none;
}

@media only screen and (max-width: 1270px){
    .contenedor_a{
        display:none;
    }
}

@media only screen and (max-width: 846px){
    .contenedor_a{
        display:none;
    }

    .section-main .contenedor_mayor{
        margin-top: 0;
        width: auto;
    }

    #formDatosReserva #txtCorreoDtsReserva,
    #formDatosReserva #txtDireccionDtsReserva
    {
        width: 190px;
    }

    .section-main .contenedor_mayor .contenedor_b{
        width: 100%;
    }
}
