{% load static %}
<html lang="es">
<head>
    <link href='{% static "Stylesheet/conocenos.css" %}' rel="stylesheet">
</head>
<body>
    <div class="section-main">
        <div class="contenedor_mayor">
            <h2>Conócenos</h2>
            <p id="primerParrafoConocenos">
                Bienvenido a Biolimpieza:
            </p>
            <p>
                Somos una empresa ubicada en Medellín, Antioquia y dedicada a la prestación de servicios orientados 
                a hogares y empresas, constituida por mujeres cabeza de familia debidamente capacitadas en la limpieza, 
                desinfección, la sana alimentación, la organización, y la higiene. En nuestros servicios utilizamos productos
                ecológicos que permanecen menos tiempo en el ambiente con acciones para economizar agua, electricidad, y 
                tiempo, ayudando a la sensibilización para aportar nuestro granito de arena en la salvación del planeta.
            </p> 
            <p>
                Los productos que utilizamos tienen activos biodegradables que son eliminados con facilidad en los
                procesos de reciclaje de aguas negras. Adicionalmente, con la venta de estos productos, que puede
                consultar con nuestras colaboradoras, destinamos el 10% a la recolección de fondos dedicados a la
                realización de actividades en pro de mejorar su calidad de vida. Algunas de estas actividades van
                desde la entrega de kits escolares, kits navideños, salidas familiares recreativas, entre otros.
            </p>
            <p>
                Somos una empresa interesada tanto en el bienestar del planeta, como en el de nuestras colaboradoras
                y clientes. Es por eso que, nuestro personal cuenta con seguridad social, ARL, caja de compensación,
                dotación, capacitación de expertos y sensibilización para un correcto cuidado del entorno, incluyendo
                un buen manejo de los insumos y utensilios de aseo. Adicionalmente, en el primer servicio, la colaboradora
                llega acompañada de la supervisora para analizar las necesidades prioritarias del área de trabajo,
                garantizar su seguridad y establecer un plan de trabajo que permita satisfacer las expectativas de nuestros
                clientes.
            </p>
            <p>
                Gracias por visitar nuestro sitio web y conocernos un poco más.
            </p>
        </div>
    </div>
</body>
</html>