{% load static %}
<div class="section-main">
    <div class="tarjeta tjt_hogar">
        <div class="icono_tarjeta">
            <img src='{% static "Images/Iconos/casa.png" %}'>
        </div>
        <div class="texto_tarjeta"> 
            <h4>Limpiamos tu casa</h4>
            <p>Nos encargamos de que tu hogar permanezca limpio y desinfectado usando productos amigables con el medio ambiente</p>
            <button class="btn_tarjeta btn_hogar"><a href="/reserva/limpieza/hogar">Agendar servicio</a></button>
        </div>
    </div>
    <div class="tarjeta tjt_oficina">
        <div class="icono_tarjeta">
            <img src='{% static "Images/Iconos/oficina.png" %}'>
        </div>
        <div class="texto_tarjeta">
            <h4>Limpiamos tu oficina</h4>
            <p>Usando productos amigables con el medio ambiente, generamos un espacio de trabajo limpio, desinfectado y agradable</p>
            <br>
            <button class="btn_tarjeta btn_oficina"><a href="/reserva/limpieza/oficina">Agendar servicio</a></button>
        </div>
    </div>
    <div class="tarjeta tjt_brigada">
        <div class="icono_tarjeta">
            <img src='{% static "Images/Iconos/superheroes.png" %}'>
        </div>
        <div class="texto_tarjeta">
            <h4>Brigada</h4>
            <p>Contamos con personal capacitado y preparado para trabajar en equipo. Utiliza este servicio cuando requieras más de un colaborador</p>
            <button class="btn_tarjeta btn_brigada"><a href="/brigada/cotizacion/">Cotizar servicio</a></button>
        </div>
    </div>
</div>
<div class="section-two">
    <div class="st-a">
        <div class="st-a1">
            <h4>Conoce un poco sobre</h4>
            <h3>Biolimpieza</h3>
            <p>Somos una empresa dedicada a la prestación de servicios orientados a hogares y empresas,
                constituida por mujeres cabeza de familia debidamente capacitadas en la limpieza, desinfección, la sana alimentación, la organización, y 
                la higiene. En nuestros servicios utilizamos productos ecológicos que permanecen menos tiempo en el ambiente con acciones para
                economizar agua, electricidad, y tiempo, ayudando a la sensibilización para aportar nuestro granito de arena en la salvación del planeta
            </p>
        </div>
        <div class="st-a2">
            <div class="st-a2_1">
                <h4>Nuestro personal</h4>
                <h3>cuenta con</h3>
                <p>Seguridad social</p>
                <p>ARL</p>
                <p>caja de compensación</p>
                <p>Dotación</p>
                <p>Capacitación</p>
                <p>Salud ocupacional</p>
            </div>
            <div class="st-a2_2">
                <img src='{% static "Images/Fondos/superheroe.png" %}'>
            </div>
        </div>
    </div>
    <div class="st-b">
        <div class="st-b1">
            <h4>Nuestro servicio</h4>
            <h3>incluye</h3>
            <p>* Supervisión y trazabilidad</p>
            <p>* Personal capacitado en bioseguridad</p>
            <p>* Canales de comunicación y soporte</p>
            <p>* Productos biodegradables: Desinfectante y Desengrasante</p>
        </div>
        <div class="st-b2">
            <h4>Agenda tu servicio</h4>
            <h3>Fácil y cómodo</h3>
            <img src='{% static "Images/Fondos/pasos.png" %}' id="imgPasos">
        </div>
    </div>
</div>