{% load static %}
<html lang="es">
<head>
    <link href='{% static "Stylesheet/politicaTratamientoDatos.css" %}' rel="stylesheet">
</head>
<body>
    <div class="section-main">
        <div class="contenedor_mayor">
            <h2>Política de tratamiento de datos</h2>
            <p>
                Bioliompieza (en adelante la Empresa), desarrolla su política comprometiéndose con estricta responsabilidad en el cumplimiento de los 
                derechos y deberes de nuestros clientes y colaboradores (en adelante Usuarios), implementando medidas de confidencialidad, 
                integridad y protección de la información de sus datos personales garantizándoles un adecuado manejo a los mismos.
            </p>
            <p>
                Los datos personales recolectados de nuestros usuarios se encuentran almacenados en servidores, los cuales cuentan con herramientas de seguridad, control de acceso y 
                sistemas de recuperación, que garantizan medidas adecuadas contra daño, perdida, alteración, destrucción y acceso o tratamiento no autorizados.
                Entre estos se incluyen los nombres, apellidos, correo electrónico, teléfono, dirección de residencia, municipio y barrio. 
                Para nuestros colaboradores son almacenados datos adicionales como identificación, fotografía, razón social, entre otros, que permiten garantizar el 
                cumplimiento de sus derechos laborales y su reconocimiento.
            </p>
            <p>Los datos personales de nuestros usuarios son utilizados para:</p>
            <ul>
                <li>La correcta identificación y trazabilidad de la aplicación de los servicios</li>
                <li>Generación de reportes</li>
                <li>Análisis estadísticos</li>
                <li>Realizar envío de facturas a los consumidores de nuestros servicios</li>
                <li>Mantener actualizada la base de datos de usuarios y servicios</li>
                <li>Enviar información relacionada con los servicios solicitados, actualización de políticas o servicios e información comercial.</li> 
            </ul>
            <p>
                En cumplimiento de la ley colombiana 1581 de 2012 sobre Protección de datos personales, nuestros usuarios aceptan voluntariamente compartir sus datos con nosotros al ser 
                registrados en nuestra plataforma o diligenciarlos para hacer uso de alguno de nuestros servicios, y tienen derecho a conocer su información almacenada, su 
                uso y tratamiento, rectificarla, actualizarla o eliminarla* mediante la página web o las líneas de contacto de la Empresa.
            </p>
            <p>
                La Empresa cuenta con sistema de atención al cliente PQRSF en su plataforma web, la cual puede ser utilizada tanto por usuarios registrados como por cualquier
                visitante del sitio, y cuyas respuestas serán enviadas por el personal encargado de la Empresa en un plazo máximo de quince días como lo estipula la ley 
                colombiana 1755 de 2015.
            </p>
            <p>
                Los datos de nuestros usuarios no serán compartidos con terceros y se utilizarán únicamente para fines de prestaciones de servicios de la Empresa, 
                los cuales serán almacenados únicamente mientras las personas hagan uso de estos o por un período de un año si estos no son utilizados o por un período de 
                cuatro años si el colaborador ya no hace parte de la Empresa.
            </p>
            <p>
                La Empresa se reserva el derecho de modificar o actualizar su política de privacidad y tratamiento de datos en cualquier momento sin previo aviso. Se recomienda
                al Usuario revisar periódicamente dicha política en nuestra página web.
            </p>
            <p>
                *El Usuario puede solicitar la eliminación de su cuenta a través del menú Gestionar mi cuenta o nuestro sistema PQRSF, y siempre y cuando se encuentre a paz y salvo y sin ningún compromiso 
                legal con la Empresa, podrá aplicarse su solicitud (en ambos casos será notificado).
            </p>
        </div>
    </div>
</body>
</html>