{% load static %}
<html lang="es">
<head>
    <link href='{% static "Stylesheet/terminosCondiciones.css" %}' rel="stylesheet">
</head>
<body>
    <div class="section-main">
        <div class="contenedor_mayor">
            <h2>Términos y condiciones</h2>
            <p>
                Los términos y condiciones (En adelante Términos) establecen los derechos y responsabilidades del Usuario al acceder y hacer uso de los servicios proporcionados por Biolimpieza (En adelante la Empresa). Al acceder y utilizar nuestros servicios, el Usuario acepta estar legalmente vinculado por estos Términos, de lo contrario, no debe acceder, ni hacer uso de nuestros servicios.
            </p>
            <h4>Registro de usuario</h4>
            <p>
                Para reservar alguno de nuestros servicios, el Usuario debe estar registrado en nuestra plataforma, en caso de que no lo esté, la página cuenta con una sección que le permite <a href="/registro/" target="_blank">registrarse</a>. Adicionalmente, el Usuario es responsable de proporcionar información precisa y actualizada durante el registro y garantizar que la información de contacto suministrada sea válida y correcta. En caso de que el Usuario desee eliminar su cuenta, podrá solicitarlo mediante el menú de Gestionar mi cuenta o nuestro sistema PQRSF y siempre y cuando se encuentre a paz y salvo y sin ningún compromiso legal con la Empresa, podrá aplicarse su solicitud (en ambos casos será notificado).
            </p>
            <h4>Implementos de aseo</h4>
            <p>
                Los Usuarios deben disponer de sus propios implementos de aseo, como trapeadora, trapo, escoba, etc. La Empresa solo suministra los jabones amigables con el medio ambiente que utilizan nuestras colaboradoras.
                Adicionalmente, nuestras colaboradoras no están autorizadas para utilizar cloro ni ácidos, ya que, en caso de presentarse algún daño debido a su manipulación, la Empresa no se hace responsable.
            </p>
            <h4>Pago del servicio</h4>
            <p>
                El pago del servicio debe realizarse exclusivamente a través de la pasarela de pagos proporcionada en nuestra página web o a través de transferencias a cuentas autorizadas por la Empresa en caso de presentarse alguna eventualidad que impida hacer uso de la pasarela. Nuestras colaboradoras no están autorizadas para recibir pagos de servicios adquiridos.
            </p>
            <h4>Reprogramación del Servicio</h4>
            <p>
                En caso de que el Usuario no pueda recibir el servicio en la fecha reservada, deberá solicitar la reprogramación de este con un plazo máximo de 12 horas antes de la fecha reservada. No se realizará devolución de dinero en caso de cancelación. Si el Usuario no solicita la reprogramación dentro del plazo establecido, el servicio se tomará como aplicado y no se realizará la reprogramación.
            </p>
            <h4>Política de Privacidad y tratamiento de datos</h4>
            <p>
                La Empresa tiene una <a href="/politicadetratamientodedatos/" target="_blank">política de privacidad y tratamiento de datos</a> que puede ser revisada en nuestra página web.
            </p>
            <h4>Sistema PQRSF</h4>
            <p>
                Cualquier usuario, incluyendo personas no registradas, puede hacer uso del sistema PQRSF (Peticiones, Quejas, Reclamos, Sugerencias y Felicitaciones) disponible en nuestra página web. Adicionalmente, la Empresa se compromete a responder a los mensajes recibidos a través del sistema PQRSF en un plazo máximo de quince días.
            </p>
            <h4>Precios y cobro de Impuestos</h4>
            <p>
                Los precios de nuestros servicios incluyen el cobro de impuestos aplicables y pueden variar según la categoría, municipio donde se va a aplicar el servicio, tipo de espacio, tamaño de espacio, número de colaboradoras necesarias para aplicar el servicio y otra información suministrada por el Usuario a través de nuestra plataforma web o canales de comunicación.
            </p>
            <h4>Trabajos extras</h4>
            <p>
                Ninguna colaboradora está autorizada para realizar trabajos extras que no hayan sido solicitados a la Empresa, y su horario está sujeto a la jornada seleccionada en la reserva realizada por el Usuario. Si se requiere hora adicional, el Usuario debe comunicarse con la Empresa para autorizar la extensión de la jornada y generar el cobro extra.
            </p>
            <h4>Colaboradoras</h4>
            <p>
                La colaboradora contratada debe ser tratada con respeto, amabilidad y dignidad. Además, es importante que se le brinde un ambiente laboral seguro y se eviten comportamientos que puedan ser perjudiciales o irrespetuosos. Se debe tener en cuenta lo siguiente:
            </p>
            <ul>
                <li>
                    Respeto y Amabilidad: El Usuario se compromete a tratar a la colaboradora contratada con respeto y amabilidad en todo momento.
                </li>
                <li>
                    Dignidad Humana: La colaboradora tiene derecho a ser tratada con dignidad y a no ser sometida a ningún tipo de trato humillante, ofensivo o discriminatorio.
                </li>
                <li>
                    Trabajos Relacionados con la Limpieza y Desinfección: El Usuario se compromete a no asignarle a la colaboradora tareas o trabajos distintos a los relacionados con la limpieza y desinfección del lugar especificado en la reserva.
                </li>
                <li>
                    Ambiente Laboral Seguro: El Usuario debe proporcionar un entorno laboral seguro y adecuado para la colaboradora, que cumpla con las normas de seguridad y salud correspondientes.
                </li>
            </ul>
            <p>
                Cualquier incumplimiento de estas disposiciones puede dar lugar a la cancelación del servicio por parte de la Empresa, sin derecho a reembolso. La colaboradora tiene derecho a denunciar cualquier situación de maltrato, acoso o abuso, y la Empresa tomará las medidas necesarias para abordar y resolver dichas situaciones.
            </p>
            <p>
                Es fundamental mantener una relación de respeto y colaboración con la colaboradora contratada, reconociendo su importancia en la prestación del servicio y valorando su trabajo. Igualmente, la colaboradora debe respetar, tratar con amabilidad y cumplir con las tareas asignadas por el Usuario, así como también acatar las normas establecidas por la Empresa, de lo contrario, el Usuario podrá comunicarse con la Empresa para tomar medidas necesarias que aborden y resuelvan las problemáticas.
                <br><br>
                En la prestación del primer servicio, la Empresa se reserva el derecho de acompañar a la colaboradora con la supervisora para analizar las necesidades prioritarias del área de trabajo, garantizar su seguridad y establecer un plan de trabajo que permita satisfacer la expectativa del cliente.
            </p>
            <h4>Área de servicio</h4>
            <p>
                Actualmente nuestros servicios de aseo están disponibles únicamente en los municipios de Medellín, Girardota, Copacabana, Bello, Envigado, Itagüí, Sabaneta, La Estrella y Caldas, ubicados en el departamento de Antioquia, Colombia.
            </p>
            <h4>Eventualidades</h4>
            <p>
                La Empresa se reserva el derecho de reprogramar servicios en mutuo acuerdo con los Usuarios en caso de que ocurra alguna eventualidad con la colaboradora seleccionada en la reserva, alguna eventualidad de orden público u otra situación que impida la prestación del servicio. La Empresa notificará al Usuario afectado en caso de ser necesario reprogramar el servicio.
            </p>
            <p>
                Estos Términos y Condiciones son efectivos a partir de la fecha de aceptación por parte del Usuario y se aplican a todos los servicios prestados por la Empresa. La Empresa se reserva el derecho de modificar o actualizar estos Términos en cualquier momento sin previo aviso. Se recomienda al Usuario revisar periódicamente los Términos y Condiciones en nuestra página web.
            </p>
        </div>
    </div>
</body>
</html>